p > mark,
h1 > mark {
  background-color: yellow;
  color: black;
  padding: 0;
}
.add-todo-wrapper,
.filters-wrapper {
  display: flex;

  justify-content: around;
  gap: 6px;
}
li.list-group-item.completed > span > h4 {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  .add-todo-wrapper,
  .filters-wrapper {
    flex-direction: column;
  }
}
